.title {
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
}

.App {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

label {
  font-size: 2rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 40vw;
}

.box {
  text-align: center;
  padding: 20vh 0vh;
  width: 40vw;
  height: 50vh;
  background-color: rgb(42, 147, 203);
  color: white;
}